$hex-black: rgb(2, 10, 25, 1);
$hex-white: #fff;
$hex-hover-red: rgba(187, 2, 42,1);
$hex-red: rgba(221, 7, 53,1);
$hex-grey: #333333;
$hex-light-grey: rgba(2, 10, 25, 0.5);
$hex-light: #e5e7eb;
$hex-tab-grey: rgba(247, 247, 247, 1);
$hex-green: #60c458;
$hex-featurebg:rgba(26, 28, 43,1);
$hex-reg-font: "Mulish-Regular", sans-serif;
$hex-semi-font: "Mulish-SemiBold", sans-serif;
$hex-bold-font: "Mulish-Bold", sans-serif;
