@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;
footer {
  background: $hex-black;
  padding-top: 5rem;
  h6 {
    font-size: 4.2rem;
    font-family: $hex-bold-font;
    line-height: 1.3;
    color: $hex-white;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    line-height: 24px;
    color: rgba(85, 101, 117, 1);
    font-size: 1.7rem;
    font-weight: 500;
    font-family: $hex-reg-font;
    padding-top: 2rem;
    text-align: center;
  }
  a {
    color: $hex-red;
    i {
      color: $hex-red;
      font-size: 1.2rem;
      transform: translateX(0px);
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      i {
        transform: translateX(5px);
      }
    }
  }
  .banner-leftCol-contents form {
    justify-content: center;
  }
  .copyright {
    margin-top: 5rem;
    background-color: rgba(242, 242, 242, 1);
    padding-top: 2rem;
    padding-bottom: 2rem;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-leftCol {
      ul {
        display: flex;
        li {
          position: relative;
          margin-right: 2rem;
          &::after {
            content: "-";
            position: absolute;
            top: 28%;
            right: -1rem;
          }
          &:last-child::after{
            display: none;
          }
          a {
            color: rgba(85, 101, 117, 1);
            line-height: 2.4rem;
            font-weight: 500;
            font-size: 1.2rem;
            font-family: $hex-reg-font;
          }
        }
      }
    }
    &-rightCol {
      p {
        color: rgba(85, 101, 117, 1);
        line-height: 2.4rem;
        font-weight: 500;
        font-size: 1.2rem;
        font-family: $hex-reg-font;
        padding-top: 0;
      }
    }
  }
}
@include max-media(767px) {
  footer {
    h6 {
      font-size: 3rem;
      line-height: 3.8rem;
    }
    .banner-leftCol-contents form {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      max-width: 34rem;
      margin-left: auto;
      margin-right: auto;
    }
    .banner-leftCol-contents input {
      margin-right: 0;
      margin-bottom: 2rem;
    }
    .banner-leftCol-contents .theme__btn,
    .banner-leftCol-contents input {
      width: 100%;
    }
    .copyright .row {
      flex-wrap: wrap;
      justify-content: center;
    }
    .copyright-leftCol {
      margin-bottom: 0.5rem;
    }
    .copyright-leftCol,
    .copyright-rightCol {
      flex-basis: 100%;
    }
    .copyright-leftCol ul {
      justify-content: center;
    }
  }
}
@include max-media(575px) {
}
